.stocks-ticker-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  overflow: hidden;
  background: rgba(19, 62, 143, 0.8);
  border-top: 1px solid rgba(100, 149, 237, 0.6);
  padding: 12px 0;
}

.stocks-ticker-wrapper:hover .ticker {
  animation-play-state: paused;
}

.stocks-ticker-wrapper .ticker-separator {
  color: rgba(100, 149, 237, 0.5);
}

.stocks-ticker-wrapper .ticker-item .rank {
  color: #000;
}

.stocks-ticker-wrapper .ticker-item:nth-of-type(1) .rank,
.stocks-ticker-wrapper .ticker-item:nth-of-type(9) .rank {
  color: var(--gold);
}

.stocks-ticker-wrapper .ticker-item:nth-of-type(2) .rank,
.stocks-ticker-wrapper .ticker-item:nth-of-type(10) .rank {
  color: var(--silver);
}

.stocks-ticker-wrapper .ticker-item:nth-of-type(3) .rank,
.stocks-ticker-wrapper .ticker-item:nth-of-type(11) .rank {
  color: var(--bronze);
}
